# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.local
.env.*.local

# Editor files
*.local
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Test coverage
coverage

# Logs
*.log

# TanStack Router cache
.tanstack


# IDE
.vscode
.idea
